node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
*.log.*
jspm_packages/
bower_components/
dist/
build/
.env
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
Desktop.ini

docker-compose.override.yml
*.pid

.angular/
.angular/cache
coverage/
output/

*.tmp
*.bak
*.orig
*.rej
*~
