<div class="bg-slate-300 w-full text-sm">
  <div class="grid grid-cols-5 w-full " style="height: 1200px;">
    <div class="col-span-3 p-32 py-40 max-sm:hidden ">
      <div class="">
        <div class="text-4xl text-slate-950 py-10">
          Gerenciador de Usuários
        </div>
          <p class="text-gray-600">
            O <strong>Sistema Gerenciador de Usuários</strong> é uma aplicação desenvolvida com o objetivo de facilitar o gerenciamento de usuários, desde o cadastro até a administração de suas informações.
            Ele foi projetado com tecnologias modernas e foco em segurança, escalabilidade e facilidade de uso.
          </p>
          <p class="text-gray-600 mb-4">
            O sistema conta com autenticação robusta baseada em <strong>JWT (JSON Web Token)</strong>, garantindo que apenas usuários autenticados possam acessar as funcionalidades protegidas.
          </p>
      </div>
    </div>
      <!-- FORM -->
    <ng-content></ng-content>
  </div>
  <app-footer></app-footer>
</div>
